button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#results {
  background: #fff;
  color: #000;
}

.summary {
  background: #ccc
}
